/* ------------------ Основни цветове ------------------ */
:root {
    --main-color: #097b87;
    --white: #ffffff;
    --hover-color: #ffffff;
}

/* ------------------ Глобални настройки ------------------ */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

main {
    flex: 1;
}

/* ------------------ Header ------------------ */
header {
    width: 100%;
}

.top-line {
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
    align-items: center;
}

.contact-info, .social-icons {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: nowrap;
}

.logo {
    height: 90px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.4s ease-in-out;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    border-color: var(--hover-color);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--main-color);
    font-size: 24px;
    cursor: pointer;
    flex-shrink: 0;
}

/* ------------------ Footer ------------------ */
footer {
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

footer .social-icons li {
    display: inline-block;
}

footer .social-icons a {
    color: var(--white);
    font-size: 20px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: var(--hover-color);
}