body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}


.top-line-div {
    background-color: #F5ECD5;
    color: #447e7f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 14px;
}

.top-line-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.top-line-ul li {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.top-line-ul li i {
    margin-right: 8px;
    color: #447e7f;
}

.top-line-ul-social {
    list-style: none;
    display: flex; /* Подреждане в редица */
    padding: 20px;
    gap: 10px;
    font-size: 25px;
}

#top-line-ul-li-1 {
    font-weight: bold;
}

#top-line-ul-li-2 {
    font-weight: normal;
}

/* --------------------------------------------------------------------------------------------- */

/*--------------------------- Logo --------------------------------------------------------------*/

nav > img {
    padding: 10px 20px;
}

nav .logo {
    position: absolute; /* Изважда логото от потока на Flexbox */
    left: 20px; /* Задава позиция вляво */
    height: 60px; /* Размер на логото */
    object-fit: contain; /* Пропорционално мащабиране на логото */
}

/*--------------------------------------------------------------------------------------------- */

nav {
    background-color: #447e7f;
    display: flex;
    padding: 0;
    width: 100%;
    height: 80px;;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

nav ul li a {
    position: relative; /* За да позиционираме псевдоелемента спрямо линка */
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease; /* Ефект за промяна на цвета */
}

nav ul li a::after {
    content: ""; /* Празно съдържание за декоративната линия */
    position: absolute;
    bottom: -3px; /* Позициониране точно под текста */
    left: 0;
    width: 0; /* Започва с нулева ширина */
    height: 2px; /* Дебелина на линията */
    background-color: white; /* Цвят на линията */
    transition: width 0.3s ease; /* Анимация при hover */
}

nav ul li a:hover {
    color: #ffffff; /* Промяна на цвета на текста */
}

nav ul li a:hover::after {
    width: 100%; /* Линията се разширява до пълната ширина на текста */
}

/* ==================================Navigation END================================ */