* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    font: clamp(11px, 11px + 0.5vw, 16px)/1.5 Lato, sans-serif;
}

body, input, textarea, select, option, button {
    font: inherit;
}

/* General styling for all elements inside nav */

.site-header nav {
}

.site-header nav ul {

}

.site-header nav li {
    display: block;
}

.site-header nav a {
    display: block;
    padding: 0.3em 1em;
    background-color: rgb(9, 123, 135);
    color: white;
    border-radius: 0.3em;
    text-decoration: none;
    font-size: 0.8em;
}


/* Specific styling for first level */

.site-header nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.site-header nav > ul > li {
    width: 9em;
    text-align: center;
}

#main-nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label[for="main-nav-toggle"] {
    display: none;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
}

@media (hover: none) {

    label[for="main-nav-toggle"] {
        display: block;
    }

    label[for="main-nav-toggle"] .close {
        display: none;
    }

    .site-header nav {
        flex-basis: 100%;
        display: none;
    }

    .site-header nav li {
        flex-basis: 100%;
    }

    .site-header nav li a {
        text-align: center;
    }

    #main-nav-toggle:checked ~ .site .site-header label[for="main-nav-toggle"] .open {
        display: none;
    }

     #main-nav-toggle:checked ~ .site .site-header label[for="main-nav-toggle"] .close {
        display: block;
    }

    #main-nav-toggle:checked ~ .site .site-header nav {
        display: block;
    }

    .site-header .site-title img {
        margin-top: 0.5em;
    }


}

@media (hover: hover) {
    .site-header nav {
        display: block;
    }
}


.top-lane {
    background-color: rgb(9, 123, 135);
    color: white;
    display: flex;
    font-size: 0.7em;
    padding: 0.8em;
    justify-content: space-between;
}

.site {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

@media (width > 960px) {
    .site {
        margin-block: 2em;
    }
}

.site {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 89vh;
}

.site-content {
    flex: 1;
}

.site-footer {
    text-align: center;
    padding: 10px;
}

.site {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

@media (width > 960px) {
    .site {
        margin-block: 2em;
    }
}

.site {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 89vh;
}

.site-content {
    flex: 1;
}

.site-footer {
    text-align: center;
    padding: 10px;
}



.site-footer {
    background-color: rgb(9, 123, 135);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 0.8em;
}

.site-header {
    padding-bottom: 1em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.site-header .site-title {
    margin-left: 1em;
    margin-top: -0.4em;
}

.site-header .site-title img {
    width: 180px;
    height: 50px;
}

.site-header .site-title a {
    color: #369;
    text-decoration: none;
}

.site-header nav {
    position: absolute;
    right: 3%;
    top: -10%;
}

@media (width < 1000px) {
    .site-header nav {
    position: absolute;
    right: 3%;
    top: 25%;
}
}

@media (width < 960px) {
    .site-header .site-title {
        margin-left: 1em;
        margin-top: 0.5em;
    }
}






























































