/* General styling for all elements inside nav */

.site-header {
    display: flex;
    flex-direction: column;
}
.site-header nav {
    display: block;
}

.site-header nav ul {
    cursor: pointer;
}

.site-header nav li {
    display: block;
    list-style: none;
    padding: 0.5em;
    background-color: rgb(9, 123, 135);
    border-radius: 0.3em;
    width: 100%;
}

.site-header nav li:hover {
    background-color: rgb(16, 137, 148);
}

.site-header nav li:active {
    transform: scale(0.95);
}

.site-header nav a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.2em 0; /* Запазва вертикално пространство */
    text-align: center;
    font-weight: bold;
}

/* Specific styling for first level */

.site-header nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.site-header nav > ul > li {
    width: 11em;
    text-align: center;

}

#main-nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

body > div.site > header > label > span.open > img {
    margin-top: -2em;
}

body > div.site > header > label > span.close > img {
    margin-top: -2em;
}


label[for="main-nav-toggle"] {
    display: none;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
}

.top-lane {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(9, 123, 135);
    color: white;
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}

.left {
    display: flex;
    align-items: center;
    gap: 0.1em;
    margin-left: 2em;
}

.left p {
    font-size: 1em;
}

.left p + span {
    margin-left: 3em;
}

.right {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.right p a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 0.5em;
    transition: background-color 0.3s, transform 0.2s;
}

.right p a:hover {
    background-color: rgb(16, 137, 148);
}

.right p a:active {
    transform: scale(0.95);
}

.nav-text {
    font-weight: bold;
    color: #4f4d4d;
}

@media (width < 650px) {
    .top-lane {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .top-lane .left {
        margin-right: 2em;
    }

    .top-lane .right {
        margin-left: 2.5em;
    }
}

@media (width < 420px) {
    .left p {
        font-size: 0.9em;
    }
}

@media (width < 396px) {
    .left p {
        font-size: 0.8em;
    }
}

@media (width < 370px) {
    .left p {
        font-size: 0.7em;
    }
}

@media (width < 344px) {
    .left p {
        font-size: 0.6em;
    }
}

@media (width < 328px) {
    .left p {
        font-size: 0.5em;
    }
}

@media (hover: hover) {
    .site-header nav {
        display: block;
    }
}

@media (hover: none) {

    label[for="main-nav-toggle"] {
        display: block;
    }

    label[for="main-nav-toggle"] .close {
        display: none;
    }

    .site-header nav {
        flex-basis: 100%;
        display: none;
    }

    .site-header nav li {
        flex-basis: 100%;
    }

    .site-header nav li a {
        text-align: center;
    }


    #main-nav-toggle:checked ~ .site .site-header label[for="main-nav-toggle"] .open {
        display: none;
    }

     #main-nav-toggle:checked ~ .site .site-header label[for="main-nav-toggle"] .close {
        display: block;
    }

    #main-nav-toggle:checked ~ .site .site-header nav {
        display: block;
    }

    .site-header .site-title img {
        margin-top: 1em;
    }

    /*.left {*/
    /*    display: none;*/
    /*}*/

    .right {
        display: none;
    }

    .front-text #ft-1 {
        text-align: center;
    }

    .top-lane {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgb(9, 123, 135);
        color: white;
        display: flex;
        font-size: 1em;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: bold;
        box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    }

}






















































