.site-header {
    padding-bottom: 1em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.site-header .site-title {

    margin-top: -0.4em;
}

.site-header .site-title img {
    width: 180px;
    height: 50px;
}

.site-header .site-title a {
    color: #369;
    text-decoration: none;
}


