@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monsieur+La+Doulaise&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: clamp(12px, 1.5vw, 14px);
}

input, textarea, a {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    flex: 1 1 auto;
    padding-top: 160px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white; /* Или друг цвят, за да се отличава */
    opacity: 0.97;
}

main {
    flex-grow: 1;
    background-color: white;
}

footer {

}

.top-lane-wrapper-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.top-lane {
    display: flex;
    justify-content: space-around;
    gap: 6em;
    padding: 1em 0;
    cursor: pointer;
}

.top-lane-wrapper-left {
    display: flex;
    gap: 2em;
}

.top-lane-wrapper-right {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
}

.top-lane p {
    display: flex;
    gap: 0.5em;
    color: white;
    font-weight: bold;
}

.top-lane i:not(.fa-facebook):not(.fa-instagram) {
    color: #FF6B35;
}


.top-lane {
    background-color: #007c8e;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    height: auto;
}


.right-side-wrapper {
    display: flex;
    align-items: center;
}

.phone-call p {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1.2em;
    color: #007c8e;
    font-weight: bold;
    font-style: italic;
}

.superdoc {
    background-color: #007c8e;
    border-radius: 2em;
    cursor: pointer;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    padding: 1.5em 7em;
    position: relative;
    flex-wrap: nowrap;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.superdoc a {
    color: white;
    text-decoration: none;
    position: absolute;
    inset: 0;
    display: block;
    flex-wrap: nowrap;
    top: 25%;
    font-weight: bold;
    font-size: 1.1em;
}

/* Ефект при кликване */
.superdoc:active {
    transform: scale(0.35); /* Намаляване на размера */
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
}

.superdoc:hover {
    background-color: #00a1b5; /* По-светъл нюанс на синьото */
    transform: scale(1.02); /* Леко увеличение */
    box-shadow: 0 0 1.5em 0 rgba(0, 124, 142, 0.5); /* По-интензивен блясък */
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}


nav {
    display: flex;
    padding: 1.5em 0 1.5em 2em;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

nav img {
    width: 200px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 2em;
    font-weight: bold;
    list-style: none;
}

nav ul li {
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: #007C8E;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 1.4em;
    color: #007C8E;
    transition: color 0.3s ease-in-out;
}

.nav-links {
    display: flex;
    gap: 2em;
    list-style: none;
    border: 2px solid #007C8E;
    padding: 0.5em 2em;
    border-radius: 2em;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #007C8E;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 1.4em;
    color: #007C8E;
    transition: color 0.3s ease-in-out;
}

.nav-links a::after:hover {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #FF6B35;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}


/* ------------------ MAIN SECTION --------------------------- */

.hero {
    height: auto;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #007C8E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 3em;
    padding-bottom: 5em;
    position: relative;
    z-index: 1;
}

@keyframes moveDots1 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(15px, -15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveDots2 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-60px, 60px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveDots3 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(20px, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}


.hero::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #007C8E;
    border-radius: 50%;
    top: 10%;
    left: 5%;
    z-index: 2;
    animation: moveDots1 3s infinite ease-in-out alternate;
    box-shadow: 30px 40px 0 #FF6B35,
    80px 20px 0 #007C8E,
    130px 90px 0 rgba(255, 107, 53, 0.6),
    200px 150px 0 rgba(0, 124, 142, 0.5),
    250px 60px 0 #FF6B35,
    300px 120px 0 #007C8E,
    350px 180px 0 rgba(255, 107, 53, 0.3),
    400px 30px 0 rgba(0, 124, 142, 0.6),
    450px 100px 0 #FF6B35,
    500px 50px 0 rgba(0, 124, 142, 0.4),
    550px 200px 0 #007C8E;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}


.hero .hero-wrapper .p-1 {
    font-size: 5em;
    font-weight: bold;
    flex-direction: column;
    line-height: 1.1em;
    font-family: "Tahoma", serif;
}

.hero .hero-wrapper .p-2 {
    font-size: 1.8em;
    font-style: italic;
    gap: 0.2em;
    justify-content: flex-end;
}


.hero p {
    color: #007C8E;
    display: flex;
    text-align: right;
}


#healthy-life {
    color: #FF6B35;
    text-shadow: 2px 2px 5px rgba(255, 107, 53, 0.3);
}


.avatar {
    width: min(30vw, 320px); /* Максимален размер 220px, но адаптивен спрямо екрана */
    height: min(30vw, 320px);
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #FF6B35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* -------------------------- SECTION SERVICES ---------------------------------------- */

section.services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.services-wrapper #span-bold span {
    font-weight: bold;
}


@keyframes spin {
    1000% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

.services-wrapper img {
    width: 70px;
    height: 70px;
    animation: spin 7s linear infinite; /* Въртене за 5 секунди, безкрайно */
}


.services-wrapper p {
    width: 70%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5em;
}

#sw-main-p {
    color: #FF6B35;
}


section.services h2 {
    font-size: 3.5em;
    color: #007C8E;
    padding-bottom: 0.1em;
}

.main-services {
    display: flex;
    width: 70%;
    justify-content: space-between;
    gap: 3em;
    margin-bottom: 5em;
}

.main-services figure, .ung-right-side figure {
    max-width: 1200px;
    width: 94%;
    background-color: #eee;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
}

.main-services figure:hover, .ung-right-side figure:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main-services figure img, .ung-right-side figure img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    transition: transform 0.3s ease;
    object-fit: cover;
    height: 400px;
}


.main-services figure {
    display: flex;
    flex-direction: column;
}

.main-services figure figcaption {
    min-height: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Позволява figcaption да запълва наличното пространство */
    padding: 2em;
    align-items: stretch;
    text-align: left;
    gap: 1em;
}

.main-services figure figcaption p {
    display: -webkit-box;
    -webkit-line-clamp: 7; /* брой редове */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* заема свободното място */
}

figcaption button {
    margin-top: auto;
}

.section-otonevrologia {
    font-size: 2em;
    color: #007c8e;
    margin-bottom: 0.3em;
}

.hr-section-otonevrologia {
    width: 50%;
    height: 0.2em;
    margin-bottom: 1em;
    background-color: #007c8e;
}

.ung-right-side figure figcaption {
    padding: 1em;
    max-height: 200px;
}




figcaption h3 {
    color: #007C8E;
    font-weight: bold;
    font-size: 1.5em;
}

figcaption button {
    background-color: #007c8e;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8em 1em;
    position: relative;
    font-weight: bold;
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.3s ease;
}

/* Псевдоелемент за стрелката */
figcaption button::after {
    content: "\2192"; /* Unicode за стрелка надясно (→) */
    font-size: 0.8em;
    font-weight: bold;
    color: #007c8e; /* Основният цвят */
    background-color: white;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8em;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

/* Ефект при кликване */
figcaption button:active {
    transform: scale(0.9);
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
}

/* Ефект при ховър */
figcaption button:hover {
    background-color: #00a1b5;
    transform: scale(1.02);
    box-shadow: 0 0 1.5em 0 rgba(0, 124, 142, 0.5);
}

/* При ховър стрелката се мести леко надясно */
figcaption button:hover::after {
    transform: translateX(5px);
}


/* --------------- SECTION UNG -------------- */

/* Основни стилове за секцията */
section.ung {
    max-width: 4000px;
    height: auto;

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0 auto 5em;
    border-radius: 0.5em;
    transition: background-color 0.5s ease, height 0.8s ease-in-out;
    color: black;
}

.wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;


}

.wrapper img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10em 12em rgb(240, 245, 248);
    cursor: pointer;
}


.wrapper p {
    max-width: 76ch;
}

/* CONTACTS */

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
    flex-wrap: wrap;
    background-color: #007c8e;
    color: white;
}

.contact-info p {
    line-height: 2em;
    font-size: 1.2em;
}

.contacts p {
    font-size: 1.3em;
}

/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #007c8e;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}

@media (max-width: 750px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: space-between;
        background-color: #007c8e;
        color: white;
        padding: 20px;
        flex-wrap: wrap;
    }
}

.footer-section {
    flex: 1;
    padding: 0.5em 3em;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #FF6B35;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.footer-section p, .footer-section a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.social-media p {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.social-media a {
    margin-right: 10px;
    font-size: 18px;
}


.footer-bottom {
    text-align: center;
    background-color: #007c8e;
    padding: 10px;
    border-top: 1px solid white;
    color: white;
}

.nav-info {
    list-style: none;
    line-height: 1.9em;
}


.superdoc-non-hover {
    display: none;
}

@media (max-width: 1050px) {
    .superdoc-non-hover {
        background-color: #007c8e;
        border-radius: 2em;
        cursor: pointer;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
        border: 2px solid white;
        display: inline-block;
        text-align: center;
        padding: 1.5em 5em;
        color: white;
        font-weight: bold;
        width: 100%;
    }

}

.ung-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1300px;
    width: 94%;
    height: auto;
    margin: 0 auto 5em;
    cursor: pointer;
    gap: 1em;
}

.ung-section-hero {
    display: flex;
    flex-direction: column;
    max-width: 115ch;
    border-bottom: 2px solid #007c8e;
}

.ung-section-hr {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрира по хоризонтала */
    justify-content: center; /* По желание – центрира по вертикала */
    text-align: center; /* Центрира текста вътре в h3 */
    margin: 0.5em auto; /* Центрира самия контейнер */
}

.ung-right-side {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 3em;
}

.ung-right-side figure img {
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px; /* Задай предпочитаната ширина */
    height: 230px;     /* Задай фиксирана височина */
    object-fit: cover; /* Подрязва изображението, за да запази съотношението */
    aspect-ratio: 1 / 1; /* Уверява квадратна форма */
}

.ung-right-side figure h3 {
    margin-bottom: 0.5em;
}


.ung-section-hero-hero {
    font-size: 1.2em;
    font-style: italic;
    padding-bottom: 1em;
}

.ung-section-hero-hero p:nth-child(2) {
    color: #FF6B35;
}

.ung-section-hero-contact {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    font-size: 1.3em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.ung-section-hero h2 {
    font-size: 2.5em;
    color: #007c8e;
    padding-bottom: 0.4em;
}

.ung-section-hero img {
    max-width: 800px;
    width: 100%;
    margin-bottom: 2.7em;
    box-shadow: rgba(0, 124, 142, 0.4) -5px 5px,
    rgba(0, 124, 142, 0.3) -10px 10px,
    rgba(0, 124, 142, 0.2) -15px 15px,
    rgba(0, 124, 142, 0.1) -20px 20px,
    rgba(0, 124, 142, 0.05) -25px 25px;
}

@media (max-width: 1200px) {
    .ung-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 1200px;
        width: 94%;
        height: auto;
        margin: 0 auto 5em;
        cursor: pointer;
        gap: 2.5em;
    }

    .ung-right-side {
        display: flex;
        flex-direction: row;
        max-width: 550px;
    }


}

@media (max-width: 650px) {
    .ung-right-side {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        align-items: center;
    }

    .ung-section {
        gap: 2em;
    }
}

/**************************************************************** ОТОНЕВРОЛОГИЯ ****************************************************************/

.main-services {
    display: flex;

    align-items: center; /* Центрира по хоризонтала */
    gap: 2rem;
    padding: 2rem 0;
}

.main-services details {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1.3rem;
    background-color: #fefefe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}


.main-services details:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.main-services summary {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding-right: 1.5rem;
}

.main-services summary::after {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.main-services details[open] summary::after {
    transform: rotate(180deg);
}

.main-services details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
    max-height: 300px;
    object-fit: cover;
}

.main-services details p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
}










































































































